  /* estilos para la detalle de productos */

  .details-content {
      padding: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

  }

  .price-product {
      font-size: 2rem;
      font-weight: 800;

  }

  /* estilos para la card de productos */
  .cardimg {
      margin-top: 10px;
      height: 200px;
      object-fit: contain;
      background-color: none;
      cursor: pointer;

  }

  .cardimg:hover {
      transform: scale(1.05);
      transition: transform 0.4s ease;
  }

  .cardtitle {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
  }

  .cardtext {
      font-size: 1rem;
      text-align: center;
      margin-top: 5px;
      color: rgb(138, 135, 135);

  }

  .CardBody {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


  /* estilos para la pagina productos */

  .aside {
      background-color: #eeeef0;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: fixed;
      height: 60%;
      z-index: 1;
      margin-top: 3rem;
  }



  @media screen and (max-width: 768px) {
      .aside {
          position: relative;
          height: auto;
          width: 100%;
          padding: 1rem;
          margin: 0;
      }
  }