  /* estilos para la detalle de productos */
  .product-img {
      width: 20rem;
      margin: auto;

  }

  .col {
      text-align: center;
  }

  .img-container {
      display: flex;
      align-items: center;
  }

  .details-content {
      padding: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

  }

  .price-product {
      font-size: 2rem;
      font-weight: 800;
  }

  /* estilos para la card de productos */
  .cardimg {
      width: 100%;
      height: 50%;
      object-fit: contain;
      background-color: white;
      margin-top: 10px;
      cursor: pointer;
  }

  .cardtitle {
      font-size: 1rem !important;
      width: 100%;
      height: 4rem;
      overflow: hidden;

  }

  .CardBody {
      display: grid;
      justify-items: center;

  }