  /* estilos para la detalle de productos */
  .product-img {
      width: 20rem;
      margin: auto;
  }

  .col {
      text-align: center;
  }

  .img-container {
      display: flex;
      align-items: center;
  }

  .details-content {
      padding: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

  }

  .price-product {
      font-size: 2rem;
      font-weight: 800;
  }

  /* estilos para la card de productos */
  .cardimg {
      width: 100%;
      height: 50%;
      object-fit: contain;
      background-color: white;
      margin-top: 10px;
      cursor: pointer;
  }

  .cardimg:hover {
      transform: scale(1.05);
      transition: transform 0.4s ease;
  }

  .cardtitle {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
  }

  .cardtext {
      font-size: 1rem;
      text-align: center;
      margin-top: 5px;
      color: rgb(138, 135, 135);

  }

  .CardBody {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }